# Title

## Introduction

### Load Data into R

In [32]:
library(tidyverse)
library(repr)
library(readxl)
library(stringr)
options(repr.matrix.max.rows = 6)

In [95]:
data <- read_csv("https://raw.githubusercontent.com/SarahHoang/dsci-100-project-group-162/main/spambase.data", 
                      col_names = FALSE)
data

Rows: 4601 Columns: 58
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (58): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     X1   X2   X3   X4 X5   X6   X7   X8   X9   X10  ⋯ X49   X50   X51 X52
1    0.00 0.64 0.64 0  0.32 0.00 0.00 0.00 0.00 0.00 ⋯ 0.00  0.000 0   0.778
2    0.21 0.28 0.50 0  0.14 0.28 0.21 0.07 0.00 0.94 ⋯ 0.00  0.132 0   0.372
3    0.06 0.00 0.71 0  1.23 0.19 0.19 0.12 0.64 0.25 ⋯ 0.01  0.143 0   0.276
⋮    ⋮    ⋮    ⋮    ⋮  ⋮    ⋮    ⋮    ⋮    ⋮    ⋮    ⋱ ⋮     ⋮     ⋮   ⋮
4599 0.30 0    0.30 0  0.00 0    0    0    0    0    ⋯ 0.102 0.718 0   0.000
4600 0.96 0    0.00 0  0.32 0    0    0    0    0    ⋯ 0.000 0.057 0   0.000
4601 0.00 0    0.65 0  0.00 0    0    0    0    0    ⋯ 0.000 0.000 0   0.125
     X53   X54   X55   X56 X57  X58
1    0.000 0.000 3.756  61  278 1
2    0.180 0.048 5.114 101 1028 1
3    0.184 0.010 9.821 485 2259 1
⋮    ⋮     ⋮     ⋮     ⋮   ⋮    ⋮
4599 0     0     1.404 6   118  0
4600 0     0     1.147 5    78  0
4601 0     0     1.250 5    40  0

In [96]:
column_names <- read_delim("https://raw.githubusercontent.com/SarahHoang/dsci-100-project-group-162/main/spambase.names", 
                         skip = 33,
                        col_names = FALSE) |> 
                        select(X1) |>
                        rename("col_name" = X1)
column_names

Rows: 57 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ":"
chr (2): X1, X2

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   col_name
1  word_freq_make
2  word_freq_address
3  word_freq_all
⋮  ⋮
55 capital_run_length_average
56 capital_run_length_longest
57 capital_run_length_total

## Methods

## Expected outcomes and significance